/*----------------------------------------------------------------
    DOCUMENT CSS START
*/
  
/* Box sizing rules */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: #535353;
    background: url(../img/anime-background-min.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    padding: 0px;
    
}

/*----------------------------------------------------------------
    DOCUMENT CSS FINISH
*/

/*----------------------------------------------------------------
    MAINS START
*/

video {
    object-fit: cover;
    position: absolute;  
}

.wrapper {
    width: 320px;
    margin: auto;
    display: flex;
    box-shadow: 0 0 6px 2px #535353; 
    background: rgba(255, 255, 255, 0.493);
    z-index: 2;
}

input {
    transition: ease 0.3s;
}

button:hover {
    transform: scale(1.04);
}

[type="text"] {
    padding: 4px;
    padding-left: 10px;
    width: 100%;
    border: 1.3px solid #919191;
    color: #535353;
    background: inherit;
}

button {
    transition: ease 0.6s;
    color: #646464;
    border: 1.3px solid #919191;
}

[type="submit"] {
    border: 1.3px solid #919191;
    background-color: inherit;
    margin-left: 8px;
    width: 35px;
    height: 32px;
    color: #535353af;
    font-size: 20px;
}

[type="text"]:hover {
    transform: scale(1.02);
}

[type="submit"]:hover {
    transform: scale(1.05);
}

/*----------------------------------------------------------------
    MAINS FINISH
*/

/*----------------------------------------------------------------
    MESSENGER FRAME START
*/

.main__frame {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition-duration: 500ms;
    visibility: hidden;
    transform: scale(0.8);
    opacity: 0;
}

.main__frame.active {
    position: relative;
    display: flex;
    transform: none;
    opacity: 1;
    visibility: visible;
}

.top__panel {
    display: flex;
    justify-content: space-between;
    background-color:white;
    padding: 8px;    
    box-shadow: 0 2px 6px 0px #707070;
    z-index: 2;
}

.top__panel button {
    opacity: 0.8;
    height: 32px;
    background: inherit;
}

.top__panel .settings {
    width: 100px;
}

.top__panel .exit {
    width: 66px;
}

.message__display {
    height: 437px;
    padding: 8px;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.message__display .story__end {
    background: white;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    opacity: 0.9;
    display: none;
}

.message__display .story__end.active {
    display: inline-block;
}

button.message__scroll {
    border: 0;
    position: absolute;
    align-self: flex-end;
    left: calc(50% - 32px / 2);
    bottom: 56px;
    width: 32px;
    height: 32px;
    color: #535353;
    background: white;
    font-size: 20px;
    transform: rotate(90deg) scale(0.8);
    transition: ease 0.6s;
    box-shadow: 0 0 6px 2px #707070;
    visibility: hidden;
    opacity: 0;
}

button.message__scroll.active {
    transform: rotate(90deg) scale(1);
    visibility: visible;
    opacity: 1;
}

button.message__scroll:hover {
    transform: rotate(90deg) scale(1.05);
    box-shadow: 0 0 6px 1px #707070;
    
}

.message__deck {
    background: #F7F7F7;
    padding: 8px;
    padding-left: 14px;
    padding-right: 10px;
    margin-bottom: 8px;
    min-width: 30%;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    box-shadow: 0 0 6px 2px #707070;
    font-size: 14px;
}

.message__deck.me {
    align-self: flex-end;
}

.message__deck.unread {
    background: #E5E5E5;
}

.message__info {
    align-items: center;
    display: flex;
    justify-content: space-between;  
    margin-bottom: 4px;
}

.message__deck .sender {
    color: rgb(133, 133, 133);
    margin-right: 8px;
}

.message__deck .content {  
    word-break: break-word;
}

.message__deck .time { 
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
    line-height: 19px;
    color: #333333;
}

.message__panel, .service__frame.settings .service__content .service__inputs {   
    display: flex;
    justify-content: space-between;
}

.message__panel {
    box-shadow: 0 -2px 6px 0px #707070;
    z-index: 2;
    background: white;
    padding: 8px;
    height: 48px;
}

/*----------------------------------------------------------------
    MESSENGER FRAME FINISH
*/

/*----------------------------------------------------------------
    SERVICE FRAME START
*/

.service__frame {
    position: absolute;
    top: calc(50% - 320px/2);
    left: calc(50% - 274px/2);
    width: 274px;
    height: 320px;
    padding: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-shadow: 0 0 6px 2px #535353;   
    transition-duration: 500ms;
    visibility: hidden;
    transform: scale(0.8);
    opacity: 0;
}

.service__frame.active {
    display: flex;
    transform: none;
    opacity: 1;
    visibility: visible;
}

.service__panel {
    display: flex;
    opacity: 0.8;
    justify-content: space-between;
}

.service__panel .exit {
    font-size: 24px;
    line-height: 19px;
    transform: rotate(-45deg);
    background: inherit;
    border: none;
}

.service__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service__content label {
    display: inline-block;
    margin-bottom: 8px;
    opacity: 0.8;
}

.service__content .service__inputs.column input {
    height: 32px;
    margin-bottom: 8px;
    color: #535353;
}

.service__content .service__inputs.column input:last-child {
    font-size: 14px;
    font-weight: normal;
    width: fit-content;
    margin: 0;
}

.theme__swap .service__inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.theme__swap input {
    width: 100%;
    height: 50px;
    margin: 0;
    color: transparent;
}

input.light__mode {
    border-width: 2px; 
}

input.dark__mode {
    
}


/*----------------------------------------------------------------
    SERVICE FRAME FINISH
*/

/*  */
/*  */
/*  */

/*----------------------------------------------------------------
    DARK MODE START
*/

.dark body {
    background: url(../img/dark-background.png) no-repeat;
    background-size: cover;
    color: #8a3131;
}

/*----------------------------------------------------------------
    MAINS START
*/

.dark .wrapper {
    /* box-shadow: 0 0 6px 2px #560061;  */
    box-shadow: none;
    background: rgba(0, 0, 0, 0.5);
    outline: 1.3px solid #6d0000;
    
}

.dark [type="text"] {
    border: 1.3px solid #6d0000;
    color: #6d0000;
}

.dark button {
    color: #6d0000;
    border: 1.3px solid #6d0000;
}

.dark [type="submit"] {
    border: 1.3px solid #6d0000;;
    color: #6d0000;
}

/*----------------------------------------------------------------
    MAINS FINISH
*/

/*----------------------------------------------------------------
    MESSENGER FRAME START
*/

.dark .main__frame {

}

.dark .main__frame.active {

}

.dark .top__panel {
    background-color:rgb(3, 1, 37);   
    box-shadow: none;
    
    /* box-shadow: 0 2px 6px 0px #560061;  */
}

.dark .top__panel button {
    opacity: 1;
    background: inherit;
}

.dark .top__panel .settings {
    
}

.dark  .top__panel .exit {

}

.dark .message__display {

}

.dark .message__display .story__end {
    background: white;

}

.dark button.message__scroll {
    color: #bebebe;
    background: white;
    box-shadow: 0 0 6px 2px #707070;
}

.dark button.message__scroll:hover {
    box-shadow: 0 0 6px 1px #707070;   
}

.dark .message__deck {
    background: rgb(25, 0, 48);
    /* box-shadow: 0 0 6px 2px #707070; */
    box-shadow: none;
}

.dark .message__deck.me {
    
}

.dark .message__deck.unread {
    background: #E5E5E5;
}

.dark .message__info {

}

.dark .message__deck .sender {
    color: rgb(136, 136, 136);
}

.dark .message__deck .content {  
    color: white;
}

.dark .message__deck .time { 
    color: #9c9c9c;
}

.dark .message__panel {
    /* box-shadow: 0 -2px 6px 0px #707070; */
    box-shadow: none;
    background: rgba(3, 0, 27, 0.767);
}

/*----------------------------------------------------------------
    MESSENGER FRAME FINISH
*/

/*----------------------------------------------------------------
    SERVICE FRAME START
*/

.dark .service__frame {
    background-color: rgba(3, 0, 27, 0.767);
    /* box-shadow: 0 0 6px 2px #535353;    */
    box-shadow: none;
}

.dark .service__panel {
    
}

.dark .service__panel .exit {
    background: inherit;
}

.dark .service__content {

}

.dark .service__content label {

    opacity: 0.8;
}

.dark .service__content .service__inputs.column input {
    color: #535353;
}

.dark .service__content .service__inputs.column input:last-child {
    
}

.dark .theme__swap .service__inputs {

}

.dark .theme__swap input {
    color: transparent;
}

.dark input.light__mode {
    border-width: 1px; 
}

.dark input.dark__mode {
    background-color: black;
    border-width: 2px; 
}


/*----------------------------------------------------------------
    DARK MODE FINISH
*/

/*  */
/*  */
/*  */

/*----------------------------------------------------------------
    1024 PX MEDIA START
*/

@media screen and (max-width: 1024px) {
    .wrapper {
        width: 100%;
        height: 100%;
        background: transparent;
    }

    .dark .wrapper {
        background: transparent;
    }

    .message__display {
        height: 100%;
    }
}

/*----------------------------------------------------------------
    1024 PX MEDIA FINISH
*/